VITE_LOTUS_API_BASE_URL=https://lotus-backend-g1e1.onrender.com
VITE_TURNKEY_ORGANIZATION_ID=
VITE_TURNKEY_AUTH_PROXY_CONFIG_ID=
VITE_TURNKEY_REQUIRED_SUB_ORG_ID=94b3ca90-5489-4d0b-9a1f-e9e71ba20ffb
VITE_TURNKEY_API_BASE_URL=https://api.turnkey.com
VITE_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
VITE_BSC_RPC_URL=https://bsc-dataseed.binance.org
