VITE_LOTUS_API_BASE_URL=https://lotus-backend-g1e1.onrender.com
VITE_TURNKEY_ORGANIZATION_ID=
VITE_TURNKEY_AUTH_PROXY_CONFIG_ID=
VITE_TURNKEY_REQUIRED_SUB_ORG_ID=94b3ca90-5489-4d0b-9a1f-e9e71ba20ffb
VITE_TURNKEY_API_BASE_URL=https://api.turnkey.com
VITE_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
VITE_BSC_RPC_URL=https://bsc-dataseed.binance.org
VITE_STANDALONE_BRIDGE_SOURCE_TOKEN_ADDRESS=0x8d0D000Ee44948FC98c9B98A4FA4921476f08B0d
VITE_STANDALONE_BRIDGE_SOURCE_TOKEN_SYMBOL=USD1
VITE_STANDALONE_BRIDGE_SOURCE_DECIMALS=18
VITE_STANDALONE_BRIDGE_DESTINATION_TOKEN_ADDRESS=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
VITE_STANDALONE_BRIDGE_DESTINATION_TOKEN_SYMBOL=USDC
VITE_STANDALONE_BRIDGE_DESTINATION_DECIMALS=6
VITE_STANDALONE_BRIDGE_SOURCE_AMOUNT=3
VITE_STANDALONE_BRIDGE_SOURCE_WALLET=0x4EE6eF8959D5D769347D51e2130D57bEb07Fab3B
VITE_STANDALONE_BRIDGE_DESTINATION_WALLET=A5K7uttgW2TPPd9dce6cxgdbAwDkKR7gEsopFDYZGooc
