VITE_LOTUS_API_BASE_URL=https://lotus-backend-g1e1.onrender.com
VITE_TURNKEY_ORGANIZATION_ID=
VITE_TURNKEY_AUTH_PROXY_CONFIG_ID=
VITE_TURNKEY_REQUIRED_SUB_ORG_ID=94b3ca90-5489-4d0b-9a1f-e9e71ba20ffb
VITE_TURNKEY_API_BASE_URL=https://api.turnkey.com
VITE_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
VITE_BSC_RPC_URL=https://bsc-dataseed.binance.org
VITE_STANDALONE_BRIDGE_SOURCE_AMOUNT=5.8
VITE_STANDALONE_BRIDGE_SOURCE_WALLET=0xD1059eC5F635712f6dcEAd569a41dFD7970DAffa
VITE_STANDALONE_BRIDGE_DESTINATION_WALLET=A5K7uttgW2TPPd9dce6cxgdbAwDkKR7gEsopFDYZGooc
